@import "tailwindcss";

@theme inline {
  --color-xuan: #F5F5F3;
  --color-xuanblack: #1A1A1A;
  --color-zhusha: #B22222;
  --color-dai: #2C3E50;

  --font-serif: "Times New Roman", Times, serif;
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
}

/* Base Styles */
@layer base {
  body {
    background-color: var(--color-xuan);
    color: var(--color-xuanblack);
    font-family: var(--font-sans);
    transition: background-color 0.5s ease;
  }

  h1, h2, h3 {
    font-family: var(--font-serif);
    letter-spacing: 0.1em;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-zhusha);
  opacity: 0.3;
}